/* cdn link - content deliver network */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Yuyu+Short&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 20px;
    text-align: center;
    border: 2px solid black;
}

/* ===================================== */

/*
For a fixed-size positioned box:
✅ One property controls the horizontal position (left or right)
✅ One property controls the vertical position (top or bottom)

For an auto-sized absolute box:
✅ left and right can work together to determine the width.
✅ top and bottom can work together to determine the height.
*/

/* z-index won't work without a positioned ancestor. default value is 0 */
/* default static */
/* position relative and absolute must be parent child */

.dhaka {
    width: 300px;
    height: 300px;
    line-height: 300px;
    position: relative;
    background-color: hotpink;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.narayanganj {
    width: 300px;
    height: 300px;
    background-color: skyblue;
    margin: 50vh 0;
    position: relative;
    bottom: 20px;
    left: 40px;
    z-index: 10;
}

.chashara {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.savar {
    width: 40px;
    height: 400px;
    line-height: 80px;
    background-color: green;
    position: absolute;
    top: 30px;
    right: 30px;
}

.ashulia {
    width: 100%;
    height: 40px;
    background-color: yellow;
    position: sticky;
    top: 0px;
}

/* =============================== */

/* CSS Background Image */
.bg-image {
    width: 100%;
    height: 100vh;
    /* background-image: url('../images/bg-image.jpg'); */
    /* background-size: 600px auto; */
    /* background-size: contain; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position-x: center;
    background-position-y: center; */
    /* background-position: top right; */
    /* background-position: center; */

    background: url('../images/bg-image.jpg') no-repeat center / cover;
    margin-bottom: 60vh;
}

.bg-attachment {
    width: 100%;
    height: 100px;
    background: url('../images/bg-attachment.jpg') no-repeat center / cover;
    background-attachment: fixed;
    margin-bottom: 100vh;
}

/* to left, to right, to top, and to bottom are for linear-gradient(), not radial-gradient(). */
.bg-radial-gradient {
    width: 100%;
    height: 600px;
    background: radial-gradient(
        pink 0%,
        #fff 30%,
        skyblue 35%,
        #fff 60%,
        yellowgreen 65%,
        #000 90%
    );
}
.bg-linear-gradient {
    width: 100%;
    height: 600px;
    margin: 30px 0;
    background: linear-gradient(
        to right bottom,
        pink 0%,
        #fff 30%,
        skyblue 35%,
        #fff 60%,
        yellowgreen 65%,
        rgba(0, 0, 0, 0.6) 90%
    );
}

.mix-bg {
    width: 100%;
    height: 280px;
    font-size: 12rem;
    font-weight: 900;
    line-height: 280px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background:
        linear-gradient(
            to top,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.9)
        ),
        url('../images/mix-bg.webp') no-repeat center / cover;

    display: grid;
    place-items: center;
    background-clip: text;
    color: transparent;
}
