* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    text-align: center;

    h1 {
        font-size: 3rem;
        padding: 30px;
    }

    .container {
        margin: 0 auto;
        h2 {
            font-size: 2rem;
            .icon {
                font-size: 1.5rem;
            }
        }
    }
}

.alal {
    width: 180px;
    height: 180px;
    background-color: cornflowerblue;
}
